@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

.content-left-photo {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

.Photo-left {
    height: 40vmin;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Photo-left {
      animation: App-logo-spin infinite 200s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }