@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

.page-footer {
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    border-top: 1px solid #61DAFB;
}

.footer-link {
    color: darkblue;
}